# Copia este archivo como .env y ajusta lo que necesites.
ASPNETCORE_ENVIRONMENT=Development

IDENTITY_DB_NAME=identity
IDENTITY_DB_USER=devsu
IDENTITY_DB_PASSWORD=devsu
IDENTITY_DB_PORT=5433
IDENTITY_API_PORT=8081

JWT_KEY=CAMBIA-ESTA-CLAVE-EN-PRODUCCION-MINIMO-32-CHARS

REDIS_PORT=6379

# Segundo microservicio
# ACCOUNTS_DB_NAME=accounts
# ACCOUNTS_DB_USER=devsu
# ACCOUNTS_DB_PASSWORD=devsu
# ACCOUNTS_DB_PORT=5434
# ACCOUNTS_API_PORT=8082
